.top-bar {
  position: fixed;
  padding-top: 12px;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #0069d9;
  color: white;
  box-shadow: 0px 20px 15px 0px rgba(0,0,0,0.72);
  display: flex;
}

.top-bar > div {
  flex: 1;
  margin-left: 25px;
  margin-right: 25px;
}

.question {
  font-size: 5em;
}

.alternatives button {
  display: inline-block;
  margin: 10px;
  font-size: 2.5em;
  box-shadow: 15px 20px 15px 0px rgba(0,0,0,0.72);
}

.footer {
  position: fixed;
  bottom: 2em; left: 2em; width: auto; height: 36px;
  padding: 10px;
  margin: 25px;
  border-radius: 25px;
  background-color: #0069d9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 15px 20px 15px 0px rgba(0,0,0,0.72);
}

.footer a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white;
}

.container {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.target-language-select {
  text-align: right;
  display: block;
  float: left;
}

.source-language-select {
  text-align: left;
  display: block;
  float: right;
}

.score {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.main-app {
  background-color: #282c34;
}